<div class="detail-page" ng-repeat="id in detail">
    <div class="product-detail">
        <div id="content" class="col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-7 col-xs-12 product-images">
                <!-- Product Image thumbnails START -->
              <div class="thumbnails">
                <div class="product-image"><a class="thumbnail" href="#" title="iphone 6 plus"><img src="images/san_pham/{{id.hinh_san_pham}}" alt=" iphone 6 plus"></a></div>
            </div>
          </div>
          <div class="col-sm-5 col-xs-12 product-details">
          <h1 class="product-name" ng-bind="id.ten_san_pham"></h1>
            <div class="rating">
        <!-- Product Rating START -->
              <div class="product-rating">
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star off fa-stack-1x"></i></span>
              </div>
              <a class="product-write-review" href=""><i class="fa fa-pencil"></i>
              Write Comment</a>
        <!-- Product Rating END -->
              </div>

              <ul class="list-unstyled product-price">
                <li><h2><span ng-bind="(id.don_gia | number)"></span> VNĐ</h2></li>
              </ul>
          
      <!-- Product Options START -->
          <div id="product" class="product-options">
              <div class="form-group product-quantity">
              <label class="control-label" for="input-quantity">Quanlity</label>
              <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control">
              <input type="hidden" name="product_id" value="49">
              <button class="btn btn-primary btn-lg product-btn-cart" type="button" id="button-cart" data-loading-text="Loading...">Buy</button>
            </div>
                      </div>
      <!-- Product Options END -->
      </div>
          </div>
        </div>
        <div class="col-sm-12 product-tabs" ng-controller="tabDetailController">
      <ul class="nav nav-tabs">
            <li class="" ng-class="{ active: isSet(1) }"><a href="#" ng-click="setTab(1)">Product detail</a></li>
            <li class="" ng-class="{ active: isSet(2) }"><a href="#" ng-click="setTab(2)" >Comment (1)</a></li>
      </ul>
      <!-- <span>{{currentNavItem}}</span> -->
      <div class="tab-content">
          <div class="tab-pane active" id="tab-description" ng-show="isSet(1)">
          <p ng-bind="sp.mo_ta_tom_tat"></p>
          </div>
        <div class="tab-pane active" id="tab-review" ng-show="isSet(2)">
        <section ng-controller="PanelController as panel">
            <div>
          </div>
          <div id="review"><table class="table table-striped table-bordered">
          <tbody><tr>
            <td style="width: 50%;"><strong>Visitor</strong></td>
            <td class="text-right">07/03/2016</td>
          </tr>
          <tr>
            <td colspan="2"><p>Product good!!!</p>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                  <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
            </td>
          </tr>
        </tbody>
        </table>
        <div class="text-right"></div>
        </div>
        <form class="form-horizontal" id="form-review">               
                                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">Email</label>
                    <input type="text" name="name" value="" id="input-name" class="form-control" >
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">Description</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block"><span class="text-danger">Error:</span> Email is required</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">Vote</label>
                    
                    <select ng-model="reviewCtrl.review.stars" class="form-control">
                                    <option value="1">1 star</option>
                                    <option value="2">2 stars</option>
                                    <option value="3">3 stars</option>
                                    <option value="4">4 stars</option>
                                    <option value="5">5 stars</option>
                    </select>
                            </div>
                </div>
                                  <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="submit" id="button-review" class="btn btn-primary">Send</button>
                  </div>
                </div>
                              </form>
                              </section>
      </div>
                      </div>
    </div>
    </div>
     


 

</div>